/* layout */

body { background: #f2f2f3; }

#bg { background: white url('../images/bg.png') top center no-repeat; }

.container {
	width: 940px;
	padding: 0 10px;
	margin: 0 auto;
}
/*HEADER*/
#header { background-color: #000; }
#header .container { padding: 5px 10px; }

#masthead {
	background: url('../images/masthead_shadow.png') top center no-repeat;
	padding-top: 22px;
}

.custom_logotype {
	padding-left: 10px;
}

#wrapper {
	background: url('../images/wrapper_shadow.png') bottom center no-repeat;
	padding-bottom: 40px;	
}

#wrapper > div {
	position: relative; /* ie CSS3 */
	width: 900px;
	padding: 79px 20px 10px;
	margin: 10px auto 0px;
	background-color: #ffffff;
	border: 1px solid #d7d7d7;
    border-radius: 6px;
	box-shadow: 0 2px 3px -2px #5d5d5d;
	behavior: url('templates/RunStrong/resources/PIE.htc');
	overflow: hidden; /* clear, damn ie */
	
}

#content {
	float: left;
	width: 590px;
	padding:0 30px 0 0;
}

#sidebar {
	float: left;
	width: 250px;
	padding: 0 0 0 29px;
	border-left: 1px solid #dddddd;
}

/* POST CONTAINER FOR SUPPORTERS */
#k2Container .itemContainer { margin: 20px 0; }

#bottom { background: url('../images/bottom_shadowtop.png') top center no-repeat; }

#footer { border-bottom: 1px solid #e5e5e5; }

#copyright {
	padding-top:10px;
	font-size: 10px;
	font-family: segoe;
	height: 90px;
	background: #f2f2f3 url('../images/copyright_shadow.png') top center no-repeat;
}

#copyright a, #copyright a:visited { color: #989898; }
#copyright a:active, #copyright a:hover { color: #EC008C; text-decoration:none; }
