/* layout */

body {
	background: url('../resources/bg.png') top center no-repeat;
}

.container {
	width: 940px;
	padding: 0 10px;
	margin: 0 auto;
}
/*HEADER*/
#header {
	background-color: #000;
	min-height:50px;
}

/*NEEDS TO BE REMOVED*/
#header img {
	float: right;
	margin: 5px 5px 0 0;
}
/*END HEADER*/

/*MASTHEAD*/
#masthead {
	background: url('../resources/masthead_shadow.png') top center no-repeat;
	padding-top: 22px;
}

#masthead .container {}

/*NEEDS TO BE REMOVED*/
#masthead .moduletable_img {position:relative; left:-10px; margin-top:5px;}

/*END MASTHEAD*/

#wrapper {
	width: 920px;
	padding: 79px 10px 10px;
	margin: 10px auto;
	background-color: #fff;
	border: 1px solid #d7d7d7;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
	behavior: url('../resources/PIE.htc');
}

#content {
	width: 590px;
	padding:0 30px 0 10px;
}

#sidebar {
	width: 240px;
	padding: 0 10px 0 30px;
	border-left: 1px solid #dddddd;
}

/*BOTTOM*/

#bottom {
	background: url('../resources/bottom_shadowtop.png') top center no-repeat;
}

/*END BOTTOM*/

#footer {
	border-bottom: 1px solid #e5e5e5;
}

#copyright {
	padding-top:10px;
	min-height: 90px;
	font-size: 10px;
	background: #f2f2f3 url('../resources/copyright_shadow.png') top center no-repeat;
}