@media screen and (max-width: 768px) {
	
	#content {
		padding: 0;
		width: 100%;
		border-bottom: 1px solid #cccccc;
		margin-bottom: 10px;
	}
	
	#sidebar {
		width: 100%;
		float: none;
		border-left: none;
		padding: 0px; 
	}
	
	#sidebar .moduletable:first-child {
		padding-left: 0px;
	}

	#sidebar .moduletable {
		width:100%;
		float:none;
		padding: 30px 0 0 0;
	}
	
	#sidebar .moduletable:first-child {
		padding-top: 0;
	}
	
	.k2ItemsBlock.supWide .description {
		width: 81%;
	}
	
	.k2ItemsBlock.vawWide .description {
		width: 87%;
	}
}