/* masthead */

/*menu*/

.moduletable_hmenu > ul {
	margin: 0;
	padding: 0;
	text-align: center;
}

.moduletable_hmenu > ul > li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	position: relative;
	padding-left: 30px;
}

.moduletable_hmenu a { 
	color: #343434;
	text-decoration: none;
}
.moduletable_hmenu a:hover { color: #EC008C; }

/* /hmenu */

/* @top hmenu */
.moduletable_hmenu.secondary {
	line-height:10px;
	font-size: 10px;
	margin: 44px 0 15px 0;
}

.moduletable_hmenu.secondary > ul > li {
	border-left: 1px solid #9b9b9b;
	padding: 0 10px;
}
.moduletable_hmenu.secondary li:first-child { border: none; }
.moduletable_hmenu.secondary a { color: #9B9B9B; }

/* /hmenu */
#masthead .moduletable_hmenu {
	font-family: segoe, helvetica, arial, sans-serif;
	float:right;
	margin: 20px 0 10px 0;
	padding-right: 10px;
}

/*Sidebar*/

#sidebar .moduletable {
	clear: both;
	line-height: 15px;
	padding: 20px 0 20px 0;
}

#sidebar .moduletable:first-child {
	margin: 0;
	padding:0 0 20px 0;
}

#sidebar img {
	float: left;
	border: 2px solid #e7e7e7;
	padding: 2px;
	margin: 0 10px 0 0;
}

#bottom .moduleCustomLink,
#sidebar .moduleCustomLink,
.slideshow .moduleCustomLink {
	color: #ec008c;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: bold;
}

#sidebar .moduleCustomLink { 
	float:right;
	margin-top:5px;
}

#bottom .moduleCustomLink:hover,
#sidebar .moduleCustomLink:hover,
.slideshow .moduleCustomLink:hover {
	text-decoration: underline;
}

/*Bottom*/

.k2ItemsBlock .image {
	float: left;
}

.k2ItemsBlock .description { /* supNarrow */
	float: left;
	width: 157px;
}

.k2ItemsBlock.supWide .description { width: 167px; }
.k2ItemsBlock.vawNarrow .description { width: 187px; }
.k2ItemsBlock.vawWide .description { width: 197px; }

#bottom .moduletable {
	position:relative;
	float: left;
	width: 240px;
	line-height: 14px;
	min-height: 300px;
	background-color: #fff;
	border: 1px solid #d7d7d7;
    border-radius: 6px;
	margin: 50px 0 0 47px;
	padding: 20px 20px 30px;
	box-shadow: 0 6px 10px 0px rgba(208, 208, 208,0.7);
	behavior: url('templates/RunStrong/resources/PIE.htc');
}

#bottom .moduleCustomLink,
.slideshow .moduleCustomLink {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	
	background: url(../images/selector.png) 0 0 no-repeat;
	padding-left: 17px;
}

#bottom .moduleCustomLink span,
.slideshow .moduleCustomLink span {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	line-height: 33px;
	
	background: url(../images/selector.png) right -37px no-repeat;
	padding: 1px 20px 3px 3px;
}

#bottom .moduleCustomLink span:hover,
.slideshow .moduleCustomLink span:hover {
	text-decoration: underline;
}

#bottom .moduleCustomLink {
	position: absolute;
	bottom: -17px;
	left: 89px;
}

.slideshow .moduleCustomLink {
	width: 47px;
}

#bottom img {
	float: left;
	border: 2px solid #e7e7e7;
	padding: 2px;
	margin: 0 10px 0 0;
}

#bottom p {
	margin: 0;
	clear: both;
}

/*START OF 'BLOG' MODULE*/

.k2ItemsBlock ul,
.feed ul {
	padding: 0;
	margin:0;
}

.k2ItemsBlock li,
.feed li {
	list-style: none;
	border-top: 2px solid #e7e7e7;
	padding: 10px 0 0;
	margin-top: 10px;
}

.k2ItemsBlock li:first-child,
.feed li:first-child {
	border-top: none;
	margin-top: 0;
}

/*TODO - CANNOT HAVE CONTENT/DATE UNDER THE IMG IN SUPPORTERS/VAW/BLOG*/

/*END Of BOTTOM*/





