/* masthead */

/*menu*/
#masthead .moduletable {
	margin-bottom: 10px;
}

#masthead .moduletable_hmenu {
	clear: both;
	float:right;
	margin: 20px 0 0 0;
}

#masthead .moduletable_hmenu > ul {
	margin: 0;
	padding: 0;
}

#masthead .moduletable_hmenu > ul > li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	position: relative;
	padding-left: 30px;
}

#masthead a, a:active, a:visited {
	color: #343434;
	text-decoration: none;
}

#masthead a:hover {
	color: #ec008c;
	text-decoration: none;
}

#masthead p {
	margin: 0px;
}

/* /hmenu */

/* @top hmenu */
#footer .moduletable_hmenu {
	text-align: center;
	line-height:10px;
	font-size: 10.6px;
	margin: 44px 0 15px 0;
}

#footer .moduletable_hmenu > ul {
	margin: 0;
	padding: 0;
}

#footer .moduletable_hmenu > ul > li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	position: relative;
	padding: 0 10px;
	border-left: 1px solid #9b9b9b
}

#footer .moduletable_hmenu li:first-child {
	border: none;
}

#footer a, a:active, a:visited {
	color: #9b9b9b;
	text-decoration: none;
}

#footer a:hover {
	color: #ec008c;
	text-decoration: none;
}

/* /hmenu */

/*Sidebar*/

#sidebar {
	line-height: 15px;
}

#sidebar .moduletable {
	clear: both;
	padding: 20px 0 20px 0;
}

#sidebar .moduletable:first-child {
	margin: 0;
	padding:0 0 20px 0;
}

#sidebar img {
	float: left;
	border: 2px solid #e7e7e7;
	padding: 2px;
	margin: 0 10px 0 0;
}

#sidebar p {
	padding: 10px 0 0 0;
	margin: 0;
	border-top: 2px solid #e7e7e7;
}

#sidebar p:first-child {
	border-top: none;
}

/*Bottom*/

#bottom {
	line-height: 15px;
}

#bottom img {
	float: left;
	border: 2px solid #e7e7e7;
	padding: 2px;
	margin: 0 10px 0 0;
}

#bottom p {
	margin: 0;
	clear: both;
	border-top: 2px solid #e7e7e7;
}

#bottom p:first-child {
	border-top: none;
}





