/* masthead */

/*menu*/
#masthead .moduletable {
	margin-bottom: 10px;
}

#masthead .moduletable_hmenu {
	clear: both;
	float:right;
	margin: 20px 0 0 0;
}

#masthead .moduletable_hmenu > ul {
	margin: 0;
	padding: 0;
}

#masthead .moduletable_hmenu > ul > li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	position: relative;
	padding-left: 30px;
}

#masthead a, a:active, a:visited {
	color: #343434;
	text-decoration: none;
}

#masthead a:hover {
	color: #ec008c;
	text-decoration: none;
}

#masthead p {
	margin: 0px;
}

/* /hmenu */

/* @top hmenu */
#footer .moduletable_hmenu {
	text-align: center;
	line-height:10px;
	font-size: 10.6px;
	margin: 44px 0 15px 0;
}

#footer .moduletable_hmenu > ul {
	margin: 0;
	padding: 0;
}

#footer .moduletable_hmenu > ul > li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	position: relative;
	padding: 0 10px;
	border-left: 1px solid #9b9b9b
}

#footer .moduletable_hmenu li:first-child {
	border: none;
}

#footer a, a:active, a:visited {
	color: #9b9b9b;
	text-decoration: none;
}

#footer a:hover {
	color: #ec008c;
	text-decoration: none;
}

/* /hmenu */

/* @group vmenu */
.moduletable_vmenu {}

.moduletable_vmenu > ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.moduletable_vmenu ul ul {
	margin: 0.5em 0 1em 1em;
	list-style: none;
}

.moduletable_vmenu li {
	
}
/* /vmenu */

