@media screen and (min-width: 480px) and (max-width: 767px) {
	
	.responsiveWrapper {
		width: 93.25%; margin: 0 auto;
	}
	
	.moduletable_logotype { text-align: center; }
	#masthead .moduletable_hmenu { float: none; }
	
	#content {
		width: 100%;
		padding: 0 0 30px 0;
	}
	
	.image {margin-right: 1.490312965722802%;}
	.image img {-moz-box-sizing: padding-box; -moz-box-sizing: border-box; }
	
	.description { float: right; }
	
	.supWide .image { width: 10.879284649776453%; }
	.supWide .description { width: 87.630402384500745%; }
	
	.vawWide .image { width: 6.408345752608048%; }
	.vawWide .description {width: 92.101341281669151%;}
	
	#footer { display: none; }

}