/* styles */
.clr, .clear { clear: both; }
.left { float: left; }
.right { float: right; }

.hidden { display: none; }
/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
/* TODO Update selection BG color */
::-moz-selection{ background: #ec008c; color:#fff; text-shadow: none; }
::selection { background:#ec008c; color:#fff; text-shadow: none; }

/*FOR K2 MODULES*/
.linebreak { 
	border-top: 2px solid #e7e7e7;
	padding: 10px 0 0;
}

.linebreak:first-child { 
	border-top: 0;
	margin-top: 0;
}

/*END OF K2 MODULES*/

.pink { 
	color: #EC008C;
	font-size: 9px;
}

.copy_style a, .copy_style a:visited {
	font-family: segoe;
	color: #989898;
	text-decoration:none;
}

.copy_style a:active, .copy_style a:hover {
	color: #ec008c;
	text-decoration:none;
}

.logo_style {
	font-family: segoe;
	color: #000;
}

.pinkdot { color: #ec008c; }