@media screen and (min-width: 768px) and (max-width: 1023px) {
	
	.responsiveWrapper {
		width: 93.25%; margin: 0 auto;
	}
	
	#content {
		width: 65.55555555555555555%;
		padding:0 3.33333333333333333% 0 0;
	}

	#sidebar {
		float: left;
		width: 27.7777777777777777%;
		border-left: 1px solid #dddddd;
		padding: 0 0 0 3.2222222222222222222%;
	}
}