.countdown > div {
	float: left;
	margin: 0 0 0 10px;
	width: 40px;
}


.countdown > div div:first-child {
	color: #ec008c;
	font-size: 26px;
	text-align: center;
	letter-spacing: 4px;
}

.countdown > div div + div {
	margin-top: 5px;
	
	color: #fff;
	font-size: 9px;
	text-align: center;
	text-transform: uppercase;
	line-height: 1em;
}