.slideshow {
	padding-bottom: 35px;
	background: url(./shadow.png) bottom no-repeat;
	font-size: 12px;
	padding-top:10px;
}

.ie7 .slideshow,
.ie8 .slideshow {
	padding-top:20px;
}

.slideshow > div {
	width: 938px;
	padding: 1px;
	border-radius: 10px;
	background: url('slideshow_bg.jpg') center top no-repeat;
	behavior: url(templates/RunStrong/resources/PIE.htc);
	zoom: 1;
	position: relative;
}
.slideshow > div > div {
	position: relative;
	padding: 50px 60px;
}

.slideshow h3 {
	font-size: 30px;
	color: #ec008c;
	text-shadow: 0 -1px 1px #d7d7d7;
	margin-top: 0;
}

.slideshow .description {
	width: 50%;
}

.slideshow .moduleCustomLink {
	display: inline-block;
	*display: inline-block;
	*zoom: 1;
	margin: 25px 0 0 0;
}

.slideshow .selector {
	position: absolute;
	bottom: -17px;
	left: 0;
	width: 100%;
	z-index: 3;
	
	text-align: center;
}

.slideshow .selector > div {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	
	background: url(./selector.png) 0 0 no-repeat;
	padding-left: 17px;
}

.slideshow .selector > div > div {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	height: 21px;
	
	background: url(./selector.png) right -37px no-repeat;
	padding: 7px 17px 9px 0;
}

.slideshow .selector > div > div > div {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 21px;
	height: 21px;
	margin: 0 3px;
	
	background: url(./pinkDot_holder.png) center no-repeat;
	cursor: pointer;
}

.slideshow .selector div.current {
	background-image: url(./pinkDot.png);
}

.slideshow .images { display: none; }

.slideshow .bg-image1,
.slideshow .bg-image2 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	border-radius: 10px;
	behavior: url(templates/RunStrong/resources/PIE.htc);
}

.slideshow .bg-image2 { opacity: 0; }

.slideshow .stuff {
	position: relative;
	z-index: 2;
}