.slideshow {
	padding-bottom: 35px;
	background: url(./shadow.png) bottom no-repeat;
	font-size: 12px;
	padding-top:10px;
}

.ie7 .slideshow,
.ie8 .slideshow {
	padding-top:20px;
}

.slideshow > div { /*FIXME Background Image is working but will not display properly*/
	padding: 1px;
	border-radius: 10px;
	background: url('slideshow_bg.jpg') center top no-repeat;
	behavior: url(templates/RunStrong/resources/PIE.htc);
}
.slideshow > div > div {
	position: relative;
	padding: 50px 60px;
}

.slideshow h3 {
	font-size: 30px;
	color: #ec008c;
	text-shadow: 0 -1px 1px #d7d7d7;
	margin-top: 0;
}

.slideshow .description {
	width: 50%;
}

.slideshow .prettylink {
	display: inline-block;
	*display: inline-block;
	*zoom: 1;
	margin-top: 25px;
}

.slideshow .selector {
	position: absolute;
	bottom: -17px;
	left: 0;
	width: 100%;
	z-index: 3;
	
	text-align: center;
}

.slideshow .selector ul {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin: 0;
	padding: 0;
	height: 20px;
	padding: 5px 7px;
	border-radius: 17px;
	
	border: 1px solid #ccc;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#cfcfcf), to(#fff));
	background-image: -webkit-linear-gradient(bottom, #cfcfcf, #e6e6e6 2px, #f8f8f8 17px, #fff);
	background-image: -moz-linear-gradient(bottom, #cfcfcf, #e6e6e6 2px, #f8f8f8 17px, #fff);
	background-image: -o-linear-gradient(bottom, #cfcfcf, #e6e6e6 2px, #f8f8f8 17px, #fff);
	background-image: -ms-linear-gradient(bottom, #cfcfcf, #e6e6e6 2px, #f8f8f8 17px, #fff);
	background-image: linear-gradient(bottom, #cfcfcf, #e6e6e6 2px, #f8f8f8 17px, #fff);
	-pie-background: linear-gradient(bottom, #cfcfcf, #e6e6e6 2px, #f8f8f8 17px, #fff);
	box-shadow: 0 2px 2px #888;
	behavior: url(templates/RunStrong/resources/PIE.htc);
}

.slideshow .selector li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 20px;
	height: 20px;
	margin: 0 3px;
	border-radius: 10px;
	box-shadow: inset 1px 2px 1px 0 #333;
	behavior: url(templates/RunStrong/resources/PIE.htc);
	cursor: pointer;
	background: white;
}

.ie7 .slideshow .selector li,
.ie8 .slideshow .selector li {
	background: url('pinkDot_holder.png') no-repeat center top;
}

.slideshow .selector li.current {
	background: url('pinkDot.png') no-repeat center top;
}

.slideshow .images { display: none; }

.slideshow .bg-image1,
.slideshow .bg-image2 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	border-radius: 10px;
	behavior: url(templates/RunStrong/resources/PIE.htc);
}

.slideshow .bg-image2 { opacity: 0; }

.slideshow .stuff {
	position: relative;
	z-index: 2;
}